<!-- Following Menu -->
<!-- <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a class="active item">Home</a>
        {{#foreach navigation}}
              <a href="{{url absolute="true"}}">{{label}}</a>
        {{/foreach}}

        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div> -->

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
      {{#foreach navigation}}
            <a href="{{url absolute="true"}}">{{label}}</a>
      {{/foreach}}
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>
